body{
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;}
    h1{
        background-color: #ffffff;
        background-color: hsla(0, 100, 100, 0.5);
        color: #64645A;
        padding: inherit;}
        p{padding: 5px;
        margin: 0px;}
        
